<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found - BananAPI</title>
    <% include partials/navbar.ejs %>
    <% include partials/head.ejs %>
</head>

<div class="jumbotron">
    <center>

        <h1 class="display-3"><strong style="color: #f0311c"></strong>404</h1>
        <p class="lead">And you know what that means...</p>
    </center>
</div>
    

<body>
    <img src="https://cdn.discordapp.com/emojis/390299785841606656.png?v=1" width="250" height="250"/>
    
    <p>Let's get you back where you should be.</p>

    <a href="https://bananapi.ml" class="btn btn-success"  role="button">Take me home</a>
</body>


<% include partials/scripts.ejs %>
<%- include("partials/footer") %>
</html>
