<!DOCTYPE html>
<html>
<!-- <div class="container">
    <h2>Boi I wonder wut this is?</h2>
</div> -->
  <!-- <head>
    <title>BananAPI</title>
    <% include partials/head.ejs %>
   </head> -->
   <head>
      <%- include("partials/meta", { description: "A stable, fast image manipulation API that turns the best memes into YOUR best memes." }) %>
      <title>Home - BananAPI</title>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">BananAPI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/support">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/examples">Examples</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/docs">Docs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
  
     <% include partials/head.ejs %>

     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4999861870798141",
          enable_page_level_ads: true
        });
      </script>
   </head>

  
   <style>
      div.jumbotron {
        background: url("https://cdn.discordapp.com/attachments/372539957824323584/510878013072736268/awesome_banner.jpg") 
      }
    </style>
    <div class="jumbotron">
      
      <center>
          <h1 class="display-3"><strong style="color: #36e43a"></strong>BananAPI</h1>
          <p class="lead">An API designed to customize your memes, and make your life easier.</p>
      </center>
    </div>
    
    <p class="lead">I am currently serving <strong style="color: #E84536;"><%- count %></strong> users! Could you be the next?</p>
  

   <h3>Why BananAPI</h3>
   <ul>
   <li><b>Uptime</b> - We have minimal to no downtime.</li>
   <li><b>Development</b> - This API is always being developed and made better! (Click Support to see what's going on!)</li>
   <li><b>Fun</b> - Memes taken to another level. You can change some text to your liking.</li>
   <li><b>Simple</b> - Stop hassling with image manipulation or parsing JSON. Image endpoints return the Buffer directly.</li>
   <li><b>Help where needed</b> - Join our <a href="https://discord.gg/3Nxb7yZ">Discord server</a> for help wherever you need it.</li>
   <li><b>Easy Authenication</b> - Grab an API key by joining our Discord server above. Pass it in a header, and you're good to go.</li>
   
  </ul>

    <div>
      <h4>BananAPI is brought to you by...</h4>
      <ul>
        <li><img class="rounded-circle" src="<%= bananapfp %>" width="50" height="50"/><b>dat banana boi#1982</b></li>
        <li><img class="rounded-circle" src="<%- tntpfp %>" width="50" height="50"/><b>Free TNT#5796</b></li>
      </ul>
      <p>We welcome you to try our API! It took a lot of hard work but is definitely worth it.

        Got suggestions? We got code. Join our Discord (click Support) and you will definitely be heard.

        Cheers!
      </p>
    </div>

    
    <% include partials/scripts.ejs %>

</html>