<!DOCTYPE html>
<html>
<!-- <div class="container">
    <h2>Boi I wonder wut this is?</h2>
</div> -->
  
  <head>
    <title>Libs - BananAPI</title>
    <% include partials/head.ejs %>
   </head>
   <% include partials/navbar.ejs %>

    <div class="jumbotron">
      <center>
        <h1 class="display-3"><strong style="color: #36e43a"></strong>BananAPI Libraries</h1>
        <p class="lead">Hate requesting the raw API? Use these BananAPI wrappers to simplify your life.</p>
      </center>
    </div>
  
    <body>
      <%- code %>
    </body>

</html>