<!DOCTYPE html>
<html>
<!-- <div class="container">
    <h2>Boi I wonder wut this is?</h2>
</div> -->
  <head>
    <title>BananAPI</title>
    <% include partials/head.ejs %>
   </head>
   <% include partials/navbar.ejs %>
<h1>BananaAPI Support Server</h1>
  <body>
    
    <h6>Need help? Have a question? Join our Discord server.</h6>

    <a href="https://discord.gg/3Nxb7yZ" class="btn btn-success"  role="button">Join Discord</a>
  



    <iframe src="https://discordapp.com/widget?id=372526440324923393&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    <%- include("partials/scripts") %>
    <%- include("partials/footer") %>
  </body>
  
</html>
